<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="paradiseCityBean"
          class="baronvice.springstuff.musicplayer.utilities.Song">
        <constructor-arg index="0" value="Paradise City"/>
        <constructor-arg index="1" value="Guns N' Roses"/>
        <constructor-arg index="2" value=
        "Take me down to the paradise city
        %nWhere the grass is green and the girls are pretty
        %nOh, won't you please take me homeTake me down to the paradise city
        %nWhere the grass is green and the girls are pretty
        %nTake me home"/>
    </bean>

    <bean id="dontStopBelievinBean"
          class="baronvice.springstuff.musicplayer.utilities.Song">
        <constructor-arg index="0" value="Don't Stop Believin"/>
        <constructor-arg index="1" value="Journey"/>
        <constructor-arg index="2" value=
        "Strangers waitin'
        %nUp and down the boulevard
        %nTheir shadows searchin' in the night
        %nStreetlights, people
        %nLivin' just to find emotion
        %nHidin' somewhere in the night"/>
    </bean>

    <bean id="rockMusicBean"
          class="baronvice.springstuff.musicplayer.utilities.music.RockMusic">
    </bean>

    <bean id="bluesMusicBean"
          class="baronvice.springstuff.musicplayer.utilities.music.BluesMusic">
    </bean>

    <bean id="musicPlayerBean"
          class="baronvice.springstuff.musicplayer.MusicPlayer">
        <constructor-arg ref="rockMusicBean"/>
    </bean>

</beans>